body {
  background-color: aqua;
}


body {
  background-color:#fff;
}

.hide {
  display: none;
}

#students{
  display: flex;
  flex-wrap: wrap;
}
.card{
  margin: 20px  ;
  text-align: center;
  width: 25%;
  
}

.btn {
  margin: 20px;
}
